<div *ngIf="!arregloMensajes" class="row">
  <div class="col-sm-1 sri-mensaje-icono-quitar-padding d-flex justify-content-center">
    <i class="material-icons sri-icono-mensaje-informacion" aria-hidden="true">info</i>
  </div>
  <div class="col-sm-11 sri-mensaje-icono-quitar-padding">
    <p class="sri-bold">{{mensaje}}</p>
    <p class="sri-bold">{{segundo_mensaje}}</p>
    <p class="sri-bold">{{tercer_mensaje}}</p>
  </div>
</div>

<div *ngIf="arregloMensajes" class="row">
  <div class="col-sm-1 sri-mensaje-icono-quitar-padding d-flex justify-content-center">
    <i class="material-icons sri-icono-mensaje-informacion" aria-hidden="true">info</i>
  </div>
  <div class="col-sm-11 sri-mensaje-icono-quitar-padding">
    <p *ngFor="let arregloMensaje of arregloMensajes"><span class="sri-bold">{{arregloMensaje.titulo}} </span>
      {{arregloMensaje.detalle}} </p>
  </div>
</div>
