<!--<a class="d-flex justify-content-center" [href]="url" target="_blank"><img class="tamano-guia-usuario tamano-medios-pago" src="/recursos-sri-en-linea/imagenes/medios-pago/icono-medios-pago.svg" alt="Medios de Pago"></a>-->



<a class="d-flex justify-content-center guia guia-espaciado" [href]="url" target="_blank">
  <div class="row tamano-minimo">
    <div class="col-sm-6 sri-mensaje-icono-quitar-padding">
        <div class="d-flex justify-content-center">
          <div class="tamano-guia-usuario ui-menuitem-icon fa sri-menu-icon-deudas animar-icono-medios-deudas"
               [style.animation-duration]="duracion+'s'"
               [style.animation-delay]="delay+'s'"
          ></div>
        </div>
    </div>
    <div class="col-sm-6 sri-mensaje-icono-quitar-padding">
      <p class="text-left letras-guia-contribuyente">
        Ver deudas
      </p>
    </div>
  </div>
