/*
 * Nombre: medios-pago.component.scss
 * Descripción: Estilos del componente medios pago
 * Dependencias: ninguna
 * Autor: Vicente Adrián Egüez Sarzosa
 * Consideraciones_generales:
 * Copyright 2017 Servicio de Rentas Internas (www.sri.gob.ec). Todos los derechos reservados.
*/
@import '../../../../assets/recursos/sass/paleta_de_colores';

.tamano-guia-usuario {
  margin-bottom: 0;
  height: 97px;
  padding: 3px;
}

.tamano-minimo{
  min-width:133px;
}


.letras-guia-contribuyente{
  font-weight: bold;
  color: $GrisFuertePaleta;
  padding-top: 23px;
  line-height: 24px;
  font-size: 21px;
}
.guia:hover{
  color: $GrisFuertePaleta;
  text-decoration: none;
}

.guia-espaciado{
  margin-top:10px;
  margin-bottom:10px;
}

.contenedor-guia-uso{
  max-width: 154px;
  margin-left: auto;
  margin-right: auto;
}

.animar-icono-medios-pago{
  animation-name: icono-medios-pago;
  animation-duration: 16s;
  animation-delay:8s;
  animation-iteration-count: infinite;
}

@keyframes icono-medios-pago {
  0%   {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
  }
  50%   {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
  }
  60%  {
    -ms-transform: rotate(-40deg); /* IE 9 */
    -webkit-transform: rotate(-40deg); /* Safari */
    transform: rotate(-40deg);
  }
  70%  {
    -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Safari */
    transform: rotate(-20deg);
  }
  80%  {
    -ms-transform: rotate(-40deg); /* IE 9 */
    -webkit-transform: rotate(-40deg); /* Safari */
    transform: rotate(-40deg);
  }
  90%  {
    -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Safari */
    transform: rotate(-20deg);
  }
  100% {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
  }
}
