<form novalidate [formGroup]="busqueda.campoBusquedaFormGroup" style="margin-left: 500px;">
  <div class="row">
    <div class="col-sm-12">
      <label class="titulo-campo" for="busquedaCedulaRucId">
        <span *ngIf="busqueda.validarApellidosNombres">Apellidos Nombres</span>
        <span *ngIf="busqueda.validarRazonSocial">Razón Social</span>
        <span *ngIf="busqueda.validarNombreComercial">Nombre Comercial</span>
        <span *ngIf="busqueda.validarPasaporte">Pasaporte</span>
      </label>
    </div>
    <div class="col-sm-12">

      <input type="text"
             pInputText
             class="sri-input-bloque"
             id="busquedaCedulaRucId"
             required
             [formControlName]="busqueda.mensajesValidacionBusqueda.nombreInput"
             [name]="busqueda.mensajesValidacionBusqueda.nombreInput"
             [placeholder]="busqueda.mensajesValidacionBusqueda.tooltip"
             [maxlength]="busqueda.mensajesValidacionBusqueda.maxlength.valor"
             [minlength]="busqueda.mensajesValidacionBusqueda.minlength.valor"
             [title]="busqueda.mensajesValidacionBusqueda.title">
    </div>
    <div class="col-sm-12">
      <p-messages class="animated fadeInUp" [(value)]="busqueda.mensajesValidacionBusqueda.mensajes"
                  [closable]="false"></p-messages>
    </div>
  </div>
</form>
