<a class="d-flex justify-content-center guia guia-espaciado" [href]="url" target="_blank" aria-label="Guía para contribuyentes" role="link">
  <div class="row contenedor-guia-uso" role="region" aria-labelledby="Información">
    <div class="col-sm-3 sri-mensaje-icono-quitar-padding">
      <img class="tamano-guia-usuario" [src]="urlImagenGuiaUso" alt="Guía para contribuyentes">
    </div>
    <div class="col-sm-9 sri-mensaje-icono-quitar-padding">
      <p class="text-center letras-guia-contribuyente">
        Guía para
      contribuyentes
      </p>
    </div>
  </div>



</a>


